@import "tailwindcss";

.container {
  max-width: 2000px;
  margin: 0 auto;
}



input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #4f5b68 rgba(30, 144, 255, 0.1);
}