.navmobile {
  display: none;
}

.nav-transition {
  transition: all 0.3s ease;
}

@media screen and (max-width: 830px) {
  .navlinks {
    display: none;
  }
  .navbtn {
    display: flex;
  }
  .navmobile {
    display: flex;
  }
}
.navv {
  display: flex;
}
.navvbtn {
  display: none;
}
@media screen and (max-width: 830px) {
  .navv {
    display: none;
  }
  .navvbtn {
    display: flex;
  }
}
